<div id="five-band" class="resistor" style="display: none">
  <div class="wire">
  </div>
  <div class="rbody">
    <div class="band_container">
      <div class="digit band"></div>
      <%= render "digit_selector" %>
    </div>
    <div class="band_container">
      <div class="digit band"></div>
      <%= render "digit_selector" %>
    </div>
    <div class="band_container">
      <div class="digit band"></div>
      <%= render "digit_selector" %>
    </div>
    <div class="band_container">
      <div class="multiplier band"></div>
      <%= render "multiplier_selector" %>
    </div>
    <div class="band_container">
      <div class="tolerance band"></div>
      <%= render "tolerance_selector" %>
    </div>
  </div>
</div>